body {
    margin: 0;
}

header {
    background-color: #57591E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-icon i {
    color: #ffffff;
    font-size: 40px;
}

.div-tittle h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: black;
}

.div-list ul {
    display: flex;
    gap: 15px;
}

.div-list ul li {
    list-style: none;
}

.div-list ul li a {
    text-decoration: none;
    color: white;
}

.section-01 {
    background-color: #707329;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 100px;
}

.section-01 img {
    width: 300px;
    height: 350px;
    box-shadow: 10px 10px 15px white;
    border-radius: 40px;
}

.section-01 p {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    font-weight: 10px;
    text-align: center;
}

span {
    font-size: 30px;
    color: rgb(12, 59, 12);
    text-transform: uppercase;
}

.section-02 {
    background-color: #BFB16B;
    padding: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.div-list-02 {
    background-color: #979b295d;
    align-items: center;
    gap: 15px;
    padding: 25px;
}

.div-list-02 ul li {
    display: flex;
}

.div-list-02 img {
    width: 50px; 
    height: 50px; 
    padding: 5px;
    gap: 200px;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;  
}


.section-03 {
    padding: 200px;
    background-image: url(imagens/bench-6919896_1280.jpg);
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.section-03 button {
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(255, 255, 255);
    width: 180px;
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 10px white;
}

.section-04 {
    background-color: #59574A;
    padding: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.div-section-04 {
    width: 350px;
    height: 350px;
    background-color: #D9C7A7;
    text-align: center;
    padding: 20px;    
}

.orquidia img {
    width: 200px;
    height: 200px;
}



